html {
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
}

body {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(245, 183, 39, 0.8);
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}
