.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
    
    // background: #f97316;
    background:
    radial-gradient(circle at 50% 220px, rgba(255,255,255,.18) 0%, rgba(255,255,255,0) 60%),
    radial-gradient(circle at 50% 320px, rgba(0,0,0,.18) 0%, rgba(0,0,0,0) 70%),
    #f97316;
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}
